.featuresPart{
  margin-top: 1.2em;
  margin-right: 20px;
}

.child{
  height:70px;
  width: 100%;
  border-radius: 10px;
  border-left: 1.5em solid #ff004f;
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
  padding: 0% 3%;
  display: flex;
  justify-content: space-between;
}

.child div{
  font-weight: 400;
}

.child div div {
  font-weight:300;
  font-size: 10px;
  color: red;
}

.logo{
  width: 40px;
  margin-left: 10%;
}